html {
    scroll-behavior: smooth;
  }

body {
    font-family: Poppins, sans-serif;
    background:#d8315b;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
header {
    text-align: center;
    padding: 20px;
}

.logo {
    max-width: 120px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    color: #ffffff;
    margin: 12px 0 0;
    line-height: 20px;
}

.title {
    font-size: 34px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
    margin: 0;
}


/* Definir o contêiner principal */
.floating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    height: auto;
    overflow: visible; /* Permite que o celular se mova fora do contêiner sem ser cortado */
}

/* Estilizando a imagem central (mockup do celular) */
.floating-image {
    width: 100%; /* Ajuste conforme o design */
    height: auto;
    z-index: 1; /* Mantém a imagem acima dos emojis */
    animation: floatImage 3s ease-in-out infinite;
}

/* Estilizando os emojis como imagens */
.emoji {
    width: 70px; /* Tamanho dos emojis (ajustável) */
    position: absolute;
    z-index: 1;
    animation: floatEmoji 4s ease-in-out infinite; /* Animação flutuante */
}

/* Emoji à esquerda */
.emoji-left {
    left: 0%; /* Distância da lateral esquerda */
    bottom: 3%; /* Distância da parte inferior */
    filter: blur(2px);
    width: 55px;
}

/* Emoji à direita */
.emoji-right {
    right: 10%; /* Distância da lateral direita */
    top: 10%; /* Distância da parte superior */
}

/* Animação para os emojis */
@keyframes floatEmoji {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Faz o emoji subir e descer */
    }
    100% {
        transform: translateY(0);
    }
}

/* Animação para a imagem flutuante (mockup) */
@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px); /* Reduzi a distância para evitar que o celular seja cortado */
    }
    100% {
        transform: translateY(0);
    }
}

img.emoji-icon {
    width: 30px;
    margin-left: 10px;
}

/* Alinhamento do título e botão */
.spotify-title-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre o título e o botão */
}

.spotify-label {
    font-size: 16px;
    margin-top: 19px;
}

/* Alinhamento do input */
.spotify-link-container {
    width: 100%;
}

.info-button {
    background-color: #d8315b;
    color: #ffffff;
    border: none;
    padding: 5px 0px;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 26%;
    align-items: center;
}

.info-button:hover {
    background-color: #45a049;
}

/* Pop-up */
.popup {
    display: none; /* Oculto por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.close-popup:hover {
    color: red;
}

/* Container do letreiro */
.marquee-container {
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    padding: 7px 0;
    margin-top: 20px;
}

.marquee {
    display: flex;
    justify-content: center;
    animation: scroll 10s linear infinite;
}

.marquee span {
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #d8315b;
    font-weight: bold;
}

/* Animação do letreiro */
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Container do título */
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 80%;
}

/* Estilização do título */
.cta-title {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 10px;
    text-align: center;
    display: flex; /* Permite que o texto e a imagem fiquem na mesma linha */
    align-items: center; /* Centraliza verticalmente o texto e a imagem */
    margin: 0; /* Remove o espaçamento padrão */
}



.main-container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 20px;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

.highlight-title {
    background-color: #ff6f61; /* Escolha uma cor que destaque */
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.highlight-title h2 {
    color: #fff;
    font-size: 20px;
    margin: 0;
}


label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, button {
    padding: 15px;
    border: 1px solid #595959;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin: 5px 0;
    display: block;
    box-sizing: border-box;
    background: #f5f5f5;
    font-family: Poppins, sans-serif;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

.file-upload-container {
    display: flex;
    align-items: center;
    border: 1px solid #595959;
    border-radius: 5px;
    padding: 5px;
    width: 96%; /* Ajuste conforme necessário */
    background-color: #f5f5f5;
    margin: 10px 0; /* Espaçamento vertical */
}

.custom-file-upload {
    background-color: #d8315b;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 14px;
    margin-right: 10px; /* Espaço entre o botão e o nome do arquivo */
    margin-top: 5px;
    flex-shrink: 0; /* Impede que o botão encolha */
}

.custom-file-upload:hover {
    background-color: #45a049;
}

input[type="file"] {
    display: none; /* Esconde o input original */
}

#file-upload-name {
    color: #555;
    font-size: 14px;
    white-space: nowrap; /* Impede a quebra de linha */
    overflow: hidden; /* Esconde o texto que ultrapassa os limites */
    text-overflow: ellipsis; /* Adiciona "..." quando o texto for muito longo */
    max-width: 150px; /* Defina o máximo de largura */
    flex-grow: 1; /* Permite que o nome do arquivo ocupe o espaço restante */
}



.image-preview {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Ajuste conforme necessário */
    text-align: center;
    width: 100%; /* Para garantir que o bloco se ajuste à tela */
    flex: 1;
}

.image-preview h3 {
    margin-top: 0;
    padding: 5px 20px 20px 20px;
    line-height: 30px;
    font-size: 24px;
}

.generated-image-container {
    position: relative; /* Necessário para que o spinner seja posicionado corretamente */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#generatedImage {
    width: 80%;
    height: 80%;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 10px;
    z-index: 0; /* Coloca a imagem gerada abaixo */
}

.loading-spinner {
    position: absolute;
    top: 60%;
    left: 64%;
    transform: translate(-50%, -50%); /* Ajusta para centralizar */
    border: 4px solid #f3f3f3;
    border-top: 4px solid #4CAF50;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    z-index: 3; /* Coloca acima da imagem gerada */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.mockup-container {
    position: relative;
    width: 100%; /* O mockup agora se ajusta ao tamanho do contêiner */
    padding-top: 200%; /* Para manter a proporção correta (ajuste conforme necessário) */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
}

.mockup {
    position: absolute;
    width: 92%;
    height: 85%;
    z-index: 2;
    top: 12%;
}

.generated-image {
    position: absolute;
    top: 13%; /* Ajuste conforme o design do mockup */
    width: 85%; /* Ajusta a largura para caber dentro do mockup */
    height: auto; /* Mantém a proporção correta da imagem gerada */
    z-index: 1; /* Coloca a imagem abaixo do mockup */
}

.clock {
    font-family: 'SF Pro Display', Arial, sans-serif;
    font-weight: 400; /* Ajuste para um peso mais espesso */
    letter-spacing: -0.03em; /* Ajusta o espaçamento entre as letras para se aproximar mais */
    position: absolute;
    top: 13%; /* Posicione o relógio na parte superior */
    left: 50%;
    transform: translateX(-50%);
    font-size: 65px; /* Ajuste o tamanho do relógio conforme necessário */
    color: #fefff3; /* Cor do relógio */
    z-index: 3; /* Fica acima da imagem gerada e do mockup */
    margin-top:7px;
}

.date-time {
    position: absolute;
    top: 22%; /* Ajuste conforme necessário */
    width: 100%;
    text-align: center;
    color: white;
    z-index: 2;
    font-family: 'SF Pro Display', Arial, sans-serif;
    font-weight: 400; /* Ajuste para um peso mais espesso */
    letter-spacing: -0.01em; /* Ajusta o espaçamento entre as letras para se aproximar mais */
}

.date {
    font-size: 16px; /* Ajuste o tamanho da fonte da data */
    margin-bottom: 20px; /* Espaçamento entre a data e a hora */
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    max-height: 90%;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

#imageToCrop {
    max-width: 100%;
    max-height: 50vh;
    object-fit: contain;
    margin-bottom: 10px;
}

#cropButton {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    z-index: 10;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    background: none;
    border: none;
    color: #333;
}

/* Ajustes para centralizar o carrossel e corrigir ícones */
.feedback-section {
    position: relative; /* Necessário para posicionamento absoluto dos corações */
    overflow: hidden; /* Esconde partes do conteúdo que ultrapassam o contêiner */
    background-color: #d8315b;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}

.feedback-header {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo */
    margin-bottom: 20px;
    position: relative;
}

.heart-icon {
    position: absolute;
    z-index: 1;
    animation: floatEmoji 4s ease-in-out infinite;
}

.heart-icon.left {
    left: -58px;
    top: 55px;
}

.heart-icon.right {
    right: -83px;
    top: -22px;
}

.feedback-title {
    z-index: 2;
}

.feedback-title h2 {
    font-size: 28px;
    color: #fff;
    margin: 0;
    font-weight: bold;
}

.feedback-title p {
    margin: 0;
    font-size: 14px;
    color: #fff;
}

.stars {
    font-size: 20px;
    color: #fddb3a;
    margin: 5px 0;
}

.rating {
    font-size: 14px;
    color: #fff;
}

.carousel-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    height: 250px;
    margin-top: 10px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    justify-content: center;
    align-items: center;
    width: 100%; /* Centraliza o carrossel */
}

.carousel-item {
    min-width: 100%; /* Cada item ocupa 100% da largura */
    flex-shrink: 0;
    display: flex;
    justify-content: center; /* Centraliza a imagem dentro do item */
    align-items: center;
}

.carousel-item img {
    width: auto;
    height: 100%; /* Mantém a altura da imagem para caber no carrossel */
    border-radius: 10px;
    overflow: hidden;
}

.carousel-dots {
    margin-top: 195px;
    text-align: center;
}

.carousel-dots .dot {
    height: 10px;
    width: 10px;
    margin: 0 3px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.carousel-dots .dot.active {
    background-color: #fddb3a;
}

.faq-section {
    background-color: #ffffff;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
    box-sizing: border-box; /* Garante que padding seja incluído na largura */
}

.faq-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 24px; /* Tamanho da fonte */
    color: #000000; /* Cor do título */
    margin: 0;
}

img.emoji-duvida {
    width: 30px;
    margin-left: 10px;
}

.faq-container {
    max-width: 100%; /* Garante que o contêiner não ultrapasse a largura */
    margin: 0 auto;
    padding: 0 20px; /* Padding interno para não encostar nas bordas */
    box-sizing: border-box;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    background-color: #B3264A;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    box-sizing: border-box; /* Inclui o padding na largura total */
}

.faq-answer {
    display: none;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 14px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}

.arrow {
    transition: transform 0.3s;
}

.faq-question.active .arrow {
    transform: rotate(180deg);
}

.faq-question.active + .faq-answer {
    display: block;
}

.buy-button {
    position: fixed; /* Fixa o botão na tela */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Compensa a centralização */
    background-color: #36b37e; /* Cor verde para o botão */
    color: #ffffff; /* Cor do texto */
    padding: 15px 30px; /* Espaçamento interno */
    border: none;
    border-radius: 30px; /* Arredondamento */
    font-size: 18px; /* Tamanho da fonte */
    text-align: center;
    text-decoration: none; /* Remove sublinhado */
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    cursor: pointer;
    z-index: 2000; /* Fica acima de outros elementos */
    transition: background-color 0.3s ease;
    bottom: 0;
}

.buy-button:hover {
    background-color: #2f9e6d; /* Cor mais escura no hover */
}

button#buyButton {
    z-index: 2000;
    bottom: 0;
}



@media (max-width: 768px) {

    .faq-container {
        max-width: 500px; /* Ajusta para uma largura fixa em telas maiores */
    }
    .main-container {
        flex-direction: column;
        align-items: center;
    }

    .form-container,
    .image-preview {
        width: 90%; /* Altere conforme necessário */
        max-width: 400px;
        margin-bottom: 20px; /* Espaço entre os blocos */
        border-radius: 20px;
        box-shadow: 0px 0px 16px 9px #c24162;
    }

    .loading-spinner {
        position: fixed;
        top: 44%;
        left: 44%;
    }
}
